#app {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
  }
section {
    font-size: 20px;
  }

.search-bar {
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
  }

.search-bar input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

.search-bar input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px #007bff;
  }

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

.navigation {
    list-style: none;
    display: flex;
    align-items: center;
  }

.navigation li {
    margin-right: 10px;
    cursor: pointer;
  }
/* phần main */
main{
  z-index: 1;
}
/* ưu đãi */
#uu_dai,#mon_moi,#trang_mieng{
    position: relative;
    overflow: hidden;
    height: 1100px;
    border-bottom: 1px solid red;
}
#tim_kiem{
  position: relative;
  overflow: hidden;
  height: 600px;
  border-bottom: 1px solid red;
}
.product_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style: none;
    margin-bottom: 100px;
  }

.product_items li {
    height: 400px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
  }

.product_items li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
.product_items li img {
    width: 96%;
    height: 200px;
    margin: 2%;
}
.product_items li p {
    height: 45px;
    padding: 2px;
}
.product_items li button {
    padding: 10px;
    width: 150px;
    cursor: pointer;
}
.hien_thi_them{
    position: absolute;
    bottom: 0px;
    left: 30%;
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: black black transparent black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

/* phần cuối và góp ý */
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

#gop_y {
    flex-basis: 60%;
  }

#gop_y ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

#gop_y li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

#gop_y li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

#gop_y ul li label {
    display: block;
    margin-bottom: 5px;
  }

#gop_y ul li input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
#gop_y ul li input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px #007bff;
  }
.them_xoa {
    margin-top: 10px;
  }

.them_xoa button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.them_xoa button:last-child {
    background-color: #ccc;
    color: #333;
  }

#end {
    flex-basis: 40%;
    padding: 20px 0 0 40px;
  }

  #end h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }

#end h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }

#end h3:first-child {
    margin-top: 10px;
  }
.hide{
    display: none;
}
.exit{
  padding: 5px 10px;
  cursor: pointer;
}
.exit,.exit_gio_hang {
  position: relative;
}

.exit::after {
  content: "Nhấn để đóng";
  position: absolute;
  width: 200px;
  height: 20px;
  top: 100%;
  left: 50%;
  transform: translateX(10%);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
}

.exit:hover::after {
  opacity: 1;
  visibility: visible;
}

.open_btn{
  display: none;
}